body{
	background:#999999;
	 background-attachment: fixed; 
	 background-repeat: no-repeat;
	 background-size: cover;
	 margin: 0;
}
#explication{
	position: relative;
}
#choix{
	position: relative;
	top: 100px;
}
#repas{
	position: absolute;
	background:#FFFFFF;
	padding:5px;
	
	
}
#sauces{
	position: absolute;
	background:#FFFFFF;
	padding:5px;
	left: 100px;
}
#ingredients{
	position: absolute;
	background:#FFFFFF;
	padding:5px;
	left: 200px;
}
#boissons{
	position: absolute;
	background:#FFFFFF;
	padding:5px;
	left: 400px;
	
}
#desserts{
	position: absolute;
	background:#FFFFFF;
	padding:5px;
	left: 500px;
	
}
#recap{
	position: relative;
	top: 500px;
}